/* App.css */

body {
  background-color: #292b2e;
  background-image: url('https://www.transparenttextures.com/patterns/arabesque.png');
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  
}

.app-title {
  color: #ffffff;
  margin-top: 5rem;
  margin-bottom: 2rem;
  
}
